<div class="container-fluid">
  <div class="table-responsive mt-5">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Contraseña</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @passwords.each do |password| %>
          <tr data-controller="password" data-password-id="<%= password.id %>">
            <td>
              <input type="text" data-target="password.name" value="<%= password.name %>" readonly class="form-control">
            </td>
            <td>
              <div class="password-container">
                <input type="password" data-target="password.key" value="<%= password.key %>" readonly class="form-control">
              </div>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Actions">
                <button type="button" data-action="click->password#toggleVisibility" data-target="password.toggleButton" class="btn btn-outline-secondary btn-sm">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <button type="button" data-action="click->password#edit" data-target="password.editButton" class="btn btn-secondary btn-sm">
                  Editar
                </button>
                <button type="button" data-action="click->password#save" data-target="password.saveButton" class="btn btn-success btn-sm d-none">
                  Guardar
                </button>
                <button type="button" data-action="click->password#cancel" data-target="password.cancelButton" class="btn btn-warning btn-sm d-none">
                  Cancelar
                </button>
                <%= link_to 'Eliminar', password_path(password), class: 'btn btn-danger btn-sm', data: { target: 'password.deleteButton', turbo_method: :delete, turbo_confirm: "Estas seguro de eliminar esta contraseña?"} %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>