/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#login {
  background-image: url('https://backoffice-qa.driv.in/assets/city_street-b584613ec0a9472df0eae488fcf68eef946667896cdb0b94084160cab6646cc1.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
  display: flex; /* Usa Flexbox para centrar el contenido */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

/* Estilo para el logo */
#logo {
  width: 300px; /* Ajusta el tamaño del logo según sea necesario */
  display: block; /* Asegura que el logo se muestre como un bloque */
  margin: 0 auto 20px; /* Centra el logo horizontalmente y añade un margen inferior */
}

#login .card {
  background-color: transparent;
  border: 0px
}


.flash-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  width: auto;
  max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
  pointer-events: none; /* Esto permite que los elementos detrás sigan siendo clicables */
}

.alert {
  pointer-events: auto; /* Esto asegura que los botones dentro de las alertas sigan siendo interactivos */
  margin-bottom: 10px;
}
